@import "../../../styles/theme";

.FindMovieForm {
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 1fr min-content;
  column-gap: 15px;

  &_title {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  &_input {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
