@import "../../../styles/theme";

.Filter {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 0;
  border-bottom: 3px solid $grey;

  &_list {
    display: flex;
    align-items: center;
  }

  &_item {
    @include reset-button;
    margin-right: 12px;
    padding: 5px 10px;
    font-size: 18px;
    line-height: 1.2;
    color: $white;
    text-transform: uppercase;

    &:focus {
      border-bottom: 1px solid red;
    }
  }

  &_select {
    display: flex;
    width: 300px;
  }

  &_label {
    display: flex;
    align-items: center;
    width: 150px;
    font-size: 18px;
    line-height: 1.2;
    color: rgb(209, 203, 203);
    text-transform: uppercase;
  }
}
